body{
    background-color: rgb(91, 138, 101);
}

img {
    width: 200px; 
    height: 200px; 
    margin: 10 20 10 20;
}


#title {
    padding-top: 40px; 
}

#title:focus {
    font-style: italics;
    color: black; 
}

#question:focus {
    font-style: italics;
}

.input-field {
    text-align: center;
    width: 50%;
}



.max-game{
    padding-left: 10px; 
    padding-right: 10px;
    padding-top: 10px; 
}

.initial {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-top: -250px; /* Half the height */
    margin-left: -250px; /* Half the width */
}

#game {
    position: absolute;
    top: 40%;
    left: 35%;
    width: 1000px;
    height: 750px;
    margin-top: -250px; /* Half the height */
    margin-left: -250px; /* Half the width */
}